figcaption {
    font-style:inherit;
    font-weight: bold;
    font-size: 26pt;
}
p {
    margin-left: 40px;
    margin-bottom: -10px;
    font-size: 125%;
}
ul {

    margin-left: 40px;
    margin-bottom: -10px;
    
}
li {
    list-style-type:square;
}
li span {
    font-weight: bold;
}
.special {
    margin-bottom: 80px;
}
a:link{
    color: blue;
}
a:visited{
    color: blueviolet;
}
a:hover{
    text-decoration: none;
}